/* Defining Variables */
:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}
*{
    font-family: 'Overpass', sans-serif;

}
body{
    background-color: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.box{
    background-color: var(--dark-blue);
    width: 25%;
    /* height: 50%; */
    margin: auto;
    border-radius: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    padding-bottom: 2rem;
}
.box-head{
    color: white;
    font-size: 1.5rem;
    margin-top: 1.8rem;
}
.star{
    /* background-color: aqua; */
    background-color:hsla(217, 12%, 63%, 0.123);
    padding: 0.7rem;
    border-radius: 50%;
}
.box-para{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.35rem;
}
.rating-options{
    display: grid;
    /* flex-wrap: wrap; */
    padding: 10px;
  box-sizing: border-box;
  /* resize: horizontal; */
  overflow: auto;
  max-width: 100%;
  height: 4rem;
    grid-template-columns: repeat(5, 1fr);
}
.rating-options{
    /* height: 100%; */
    margin-bottom: 1rem;
}
.rating{
    background-color:hsla(217, 12%, 63%, 0.123);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: var(--medium-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    width: 2.7rem;
    border: none;
}
.rating:hover{
    background-color: var(--medium-gray);
    color: white;
    cursor: pointer;
}
.btn{
    background-color: var(--orange);
    color: white;
    width: 100%;
    border: none;
    padding-top: 0.7rem;
    font-weight: 700;

    transition: all 0.15s ease-in;
    padding-bottom: 0.7rem;
    border-radius: 1.3rem;
}
.btn:hover{
    background-color: white;
    color: var(--orange);
}
.hide{
    display: none;
}
.active{
        background-color: var(--orange);
        color:white;
    }
.img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;

}
.img-holder img{
    height: 6rem;
    /* For Img to be optically center */
    margin-left: -1rem;
}
#ratepara{
    font-size: 0.85rem;
    color: orange;
    font-weight: 400;
    background-color: hsla(217, 12%, 63%, 0.123);
    display: inline;
    padding: 0.25rem 0.8rem;
    border-radius: 1rem;
}
.para-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -0.8rem;
}
.reaction .box-head{
    text-align: center;
    margin-bottom: 0.5rem;
}
.reaction .box-para{
    text-align: center;
}


/* Responsiveness */
@media screen and (max-width:538px) {
    .box{
        width: 75%;
    }
}
@media screen and (max-width:300px){
    .box{
        width: 88%;
    }
}